*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'times new roman';
}
html,body{


    height: 100%;
    width: 100%;
}

body{
background-color: rgb(0, 206, 255);

display: flex;
align-items: center;
justify-content: center;
}
#card{

height:470px;
width:345px;
background-color: white;
border-radius: 10px;
border: 3.5px solid rgb(0, 0, 0);
}
 
  
#views{
height:110px;
width:100%;
border-bottom:1px solid rosybrown ;
padding:12px;
}
.story{
    border: 3px solid red ;
height:80px;
width:80px;
border-radius: 50%;

}




