*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'times new roman';
}
html,body{


    height: 100%;
    width: 100%;
}

body{
background-color: rgb(0, 206, 255);

display: flex;
align-items: center;
justify-content: center;
}
#card{

height:470px;
width:345px;
background-color: white;
border-radius: 10px;
border: 3.5px solid rgb(0, 0, 0);
position: relative;
}
 
  
#views-panel{
height:110px;
width:100%;
border-bottom:1px solid rosybrown ;
padding:12px;
white-space: nowrap ;
overflow-x: auto;
overflow-y: hidden;
margin-right: 5px;

}
#views-panel::-webkit-scrollbar{

display:none;

}
.story{
    border: 3px solid red;
height:80px;
width:80px;
border-radius: 50%;
overflow: hidden;
display: inline-block;
margin-right: 6px;
}


.story img{
    height: 100%;
width: 100%;
object-fit:cover;


}
#full-screen{

height:100%;
width:100%;
background-size: cover;
background-position:center ;
position: absolute;
display:none;


}